.part-3{
    background-color: #F8F9FB;
}

.iconx{
    color: #7D7F8B;
}
.card-text{
    font-size: 17px;
}
.card1{
    margin-bottom: 30px;
}
.part-5{
    background-color: #F8F9FB;
}
.form-edite{
    width: 70vw;
    margin-left: 9.5rem;
}
input::placeholder {
    color: black;
}